<h1>サイト概要</h1>

<h2>ALL STARについて</h2>
<p>
  社会人野球(草野球)においては予定が合わず人数が足りなく練習試合が出来ないということが多々あ ります。場合においては中止になるなんてことも珍しくありません…。

一方で引っ越しで新たに新天地で野球をやりたいのに社会人野球チームとのかかわりがなく野球をやめて しまうケース、入った社会人チームのレベルがあっていなく楽しめない、もっと上を目指したいと方向性 の違いが出てしまい野球を辞めてしまうケース…。

そこで、両者がマッチングできるようにし両者が満足して自分に合う形で野球を楽しんで続けてもらいた いという思いから着手することに決めました。 誰かの野球人生がまたここから始まっていただけたら幸いです。
</p>
