<div class="main_visual">
  <div class="main_visual_content">
    <div class="main_visual_text">
      <h2>ALL STAR</h2>
      <p>私は4月から新潟から千葉に引っ越してきました。</br>
      学生の頃は社会人野球を趣味にしていましたが上京してきて野球に触れる機会がなくなりました。</br>
      単純に自分が野球やりたいという思いからこのサイトを作成しました。
      </p>
    </div>
  </div>
</div>

<h2 class="mb-4">新着募集要項一覧.</h2>

<div class="container">
  <div class="row">
    <% @recruits.each do |recruit| %>
      <div class="mr-auto">
        <div>
          <%= image_tag recruit.get_image %>
        </div>

        <div>
          <p>タイトル</p>
            <%= link_to recruit_path(recruit) do %>
            <%= recruit.title %>
            <% end %>
        </div>

      </div>
    <% end %>
  </div>
</div>



<%= paginate @recruits,class: "mt-4" %>
