<h1>新着募集要項一覧</h1>
<% @recruits.each do |recruit| %>
<div>
  <%= image_tag recruit.get_image %>

  <p>たいとる</p>
  <%= link_to recruit_path(recruit) do %>
  <%= recruit.title %>
  <% end %>
</div>


<% end %>
