<h1>通報一覧</h1>

 <div class="d-flex justify-content-between w-100">
    <table class="table w-60">
      <thead>
        <th>通報ID</th>
        <th>会員名</th>
        <th>通報者</th>
        <th>通報ステータス</th>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
        <tr>
          <th><%= link_to report.id, admin_report_path(report) %></th>

          <th>
            <%= report.reported.last_name + report.reported.first_name %>
          </th>

          <th>
            <%= report.reporter.last_name + report.reporter.first_name %>
          </th>

          <th>
            <%= report.status_i18n %>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
