<h1>通知一覧画面</h1>

<% @notifications.each do |notification| %>
  <%= notification.visitor.last_name %>

<% end %>

<%# notifications = @notifications.where.not(visitor_id: current_member.id) %>
<%# if notifications.exists? %>
  <%#= render notifications %>
  <%#= paginate notifications %>
<%# else %>
 <!--<p>通知はありません</p>-->
<%# end %>

<%# visitor = notifications.visitor %>
<%# visited = notifications.visited %>

      <%#= visitor.name %>
      <%#= 'さんが' %>

      <%# case notification.action %>
      <%# when 'like' then %>
        <%#= "あなたの投稿にいいねしました" %>

      <%# when 'apply' then %>
        <%#= "あなたの投稿に申し込みました" %>
      <%# else %>

      <%# end %>



    <%#= time_ago_in_words(notification.created_at).upcase %>